<script setup lang="ts">
export interface Estable {
  id: number;
  text: String;
}
import type { PropType } from "vue";
const props = defineProps({
  todo: {
    type: Object as PropType<Estable>,
    required: true,
  },
});
</script>

<template>
  <li>{{ todo.text }}</li>
</template>
